<h1>All Users:</h1>
<% if @users %>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  <% @users.each do |user| %>
    <%= user.name %>
  <% end %>
  </table>
<% end %>
<!-- <p>Find me in app/views/users/index.html.erb</p>
 -->